body{
    background-color: #ECEFEB;
    overflow-x: hidden;
    font-family: Inter, sans-serif, helvetica, arial, sans-serif;
    line-height: 26px;
    color: #163300;
}

header{
    text-align: center;
    font-family: "Wise Sans", Inter, sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #ECEFEB;
    outline: rgb(255, 0, 0) 1px;
}

p{
    color: #454745;
}

header img{
    margin: 20px;
}

u{
    margin-left: 5px;
}

.navbar{
    font-size: 15px;
    font-weight: 600;
    color: #0D1F00;
    background-color: #ffffff;
}

.navbar .btn{
    padding: 3px 20px;
    margin-left: 16px;
    color: #163300;
    border-radius: 50px;
}


.c1{
    margin-top: -90px;
    text-align: center;
}

.c1 h1{
    font-family: 'Noto Sans Display';
    margin: 80px 0 32px 0;
}

.c1 p{
    text-align: center;
    font-size: 20px;
    /* line-height: 28px; */
    color: #454745;
    margin: 0 auto;
}

.btn{
    color: #163300;
    padding: 11px 24px;
    margin: 30px 8px; 
    background-color: #ffffff;
    border: 1px solid #163300;
    font-weight: 600;
    border-radius: 50px;
}

.btn:hover{
    color: #163300;
    background-color: #80E141;
    border: none;
}

video{
    width: 100%;
    height: auto;
}

.colored{
    background-color: #9fe870;
    border: none;
} 

.countries{
    padding: 50px;
    text-align: left;
    background-color: #ECEFEB;
}

.countries p{
    font-size: 53px;
    font-weight: 600;
    line-height: 41px;
    margin: 0 0 40px 0;
}

.countries .btn{
    padding: 8px 0;
    height: 32px;
    padding: 3px 16px;
}

.countries .row{
    margin: 0 0 32px 0;
    padding: 0 -200px 0 0;
}

.countries .row img{
    padding-right: 48px;
    margin: 42px 0 15px 0;
}

.countries u{
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

footer{
    background-color: #ECEFEB;
    text-align: center;
}

.thieves{
    background-color: #FFFFFF;
    padding: 154px 0;
    color:  #454745;
}

.thieves .container .row{
    font-size: 16px;
}

.thieves .h1{
    font-size: 78px;
}

.thieves .container{
    margin: 0 64px 0 0;
    padding: 20px;
}

.thieves .container img{
    height: 88px;
    background-color: #ECEFEB;
    margin: 0 0 16px 0;
    padding: 15px;
    border-radius: 50%;
}

.image{
    width: 23vw;
}

#borders{
    padding: 154px 0;
    background-color: #163300;
}

#borders .display-1{
    font-size: 120px;
    color: #9fe870;
    font-weight: 900;
}

#borders .row{
    padding: 50px;
}

footer .col{
    padding: 0 12px;
}

footer .col p{
    text-align: start;
    margin-bottom: 2px;
}

footer .social{
    color: #163300;
    opacity: .5;
    margin-left: -20px;
}

footer .footer{
    margin-top: 20px;
    padding: 0 12px;
}
